{% extends "base.html.twig" %}

{% block title %}
    Erreur {{ code is defined ? code : '400' }}
{% endblock %}

{% block body %}
    <article class="body-page about-page">
        <h2 class="display-2 text-danger text-center">Erreur {{ code is defined ? code : '400' }}</h2>

        <p class="h4 mb-4 text-center fw-bold mt-4">
            <span class="text-danger">Oups !</span> Cette page ne fonctionne pas.
        </p>
        <p class="text-center lead mb-4">
            Il y a eu une erreur et votre requête n'a pas pu être traitée.
        </p>
        <footer class="text-center">
            <a href="{{ path('app_home') }}" class="btn btn-primary">Retour à l'accueil</a>
        </footer>
    </article>
{% endblock %}