{% extends "base.html.twig" %}

{% block title %}
    Erreur 403
{% endblock %}

{% block body %}
    <article class="body-page about-page">
        <h2 class="display-2 text-danger text-center">Erreur 403</h2>

        <p class="h4 mb-4 text-center fw-bold mt-4">
            <span class="text-danger">Oups !</span> Accès interdit.
        </p>
        <p class="text-center lead mb-4">
            Vous ne pouvez pas accéder à cette page.
        </p>
        <footer class="text-center">
            <a href="{{ path('app_home') }}" class="btn btn-primary">Retour à l'accueil</a>
        </footer>
    </article>
{% endblock %}