<footer class="main-footer">
    <p><strong>{{ website_name }}</strong>, {{ website_description }}</p>
    <span>Photo by <a
            href="https://unsplash.com/@impatrickt?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Patrick
            Tomasso</a> on <a
            href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    <p>© Céline Foucart</p>
</footer>