<footer class="main-footer">
    <p><strong>{{ website_name }}</strong>, {{ website_description }}</p>
    <p><span>
        Photo by <a href="https://unsplash.com/@impatrickt?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Patrick Tomasso</a> 
            on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
    </span> | © Céline Foucart</p>

    {% if is_admin() %}
        <p>[<a href="{{ path('app_admin') }}" class="text-decoration-none">Panneau de contrôle d’administration</a>]</p>
    {% endif %}
</footer>