{% extends "base.html.twig" %}

{% block title %}
    Consulter un article | {{ parent() }}
{% endblock %}

{% block body %}
<div class="row gap">
    <div class="col-md-7 col-lg-8 body-page news">
        <article>
            <p class="text-muted date">Publié le <strong>12/06/20</strong>, par <strong
                    class="author">Ermina</strong></p>
            <h2 class="post-title">Article 1</h2>
            <div class="content">
                <p>Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Unde fuga blanditiis ipsa
                    molestiae aperiam tempore delectus voluptate nisi facilis illo, incidunt, mollitia voluptas
                    quo voluptates sequi alias, iste numquam nam!</p>

                <h3>Titre 1</h3>
                <p>Dignissimos libero blanditiis et rerum quasi labore facere ut asperiores eius quam, inventore
                    ex sed, iste, molestias eaque molestiae optio quia tempore sapiente in cupiditate. Animi,
                    quas autem officia obcaecati.</p>
                <p>Laboriosam maiores repellat incidunt repellendus rem fugiat autem quas magni quibusdam ex
                    facilis, aspernatur nostrum amet nesciunt consequuntur error. Mollitia, laborum, nesciunt.
                    Distinctio nulla rerum iste rem eveniet recusandae debitis repudiandae tempora suscipit
                    cumque accusantium nobis laboriosam incidunt pariatur a ut, excepturi ipsum deserunt.
                    Doloribus quod veritatis facilis hic voluptatum. Vitae, quas.</p>
                <p>Esse iusto libero et provident fugiat labore quia, beatae necessitatibus ullam? Maxime
                    officia perferendis rem ullam iure reprehenderit. Voluptatem error laudantium amet tempora
                    vitae quibusdam id mollitia necessitatibus natus nam.</p>
                <blockquote class="quote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>
                <p>Natus vel, vitae omnis itaque accusamus officia iure quaerat sequi nisi blanditiis veritatis
                    voluptate suscipit consequatur quam ipsam, quis explicabo ab accusantium a illo amet.
                    Corrupti, quasi ducimus optio modi.
                    Facilis, maiores expedita quam illum consequuntur rerum dicta nostrum aspernatur sequi ex
                    reprehenderit fuga beatae voluptas sit tempore et maxime commodi, quae neque dolor. Vitae
                    voluptatum ex non totam amet?</p>
                <p>Alias consectetur numquam tempora dolore tenetur unde. Exercitationem inventore harum
                    consectetur illum, reprehenderit beatae voluptatem dolor rerum ipsa veritatis esse
                    dignissimos minus, tempore eveniet optio porro nulla fugiat? Pariatur, inventore!</p>
                <h3>Titre 2</h3>
                <p>Vero, deleniti voluptatibus mollitia consequatur deserunt est fugiat, quia. Deleniti
                    aspernatur inventore iste at nam exercitationem laboriosam esse, adipisci iure, alias ipsum
                    consectetur odit necessitatibus, quia. Qui est facilis similique. Impedit, sequi molestiae
                    eos quisquam nostrum veritatis temporibus recusandae dignissimos sunt praesentium
                    consectetur facere sapiente ducimus dicta nulla nesciunt fugiat quae mollitia ex alias ipsa
                    iste quibusdam. Excepturi, nihil. Reiciendis.</p>
                <p>Laboriosam porro accusantium in quis quidem modi alias, beatae, blanditiis totam asperiores
                    quibusdam? Ullam sint consequuntur deleniti optio nisi, dicta dolorum temporibus voluptates
                    maiores in, officia ratione a. Error, aut.</p>
            </div>

            <div class="post-footer">
                <p><strong>Catégorie :</strong> <a href="#" class="labels">lorem ipsum</a></p>
                <p><strong>Auteur :</strong> <span class="author">Ermina</span></p>
            </div>
        </article>

        <article class="comments">
            <h2 class="comment-title">3 commentaires</h2>

            <div class="comment">
                <h3 class="author">Bibu</h3>
                <p class="date-comment">Publié le 30/10/20</p>
                <p class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse assumenda fugiat
                    suscipit commodi dicta. Ea quae facere quis incidunt at enim nesciunt cupiditate
                    perspiciatis aperiam. Alias rem, saepe id quidem?</p>
            </div>
            <div class="comment">
                <h3 class="author">Bibu</h3>
                <p class="date-comment">Publié le 30/10/20</p>
                <p class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse assumenda fugiat
                    suscipit commodi dicta. Ea quae facere quis incidunt at enim nesciunt cupiditate
                    perspiciatis aperiam. Alias rem, saepe id quidem?</p>
            </div>
            <div class="comment">
                <h3 class="author">Bibu</h3>
                <p class="date-comment">Publié le 30/10/20</p>
                <p class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse assumenda fugiat
                    suscipit commodi dicta. Ea quae facere quis incidunt at enim nesciunt cupiditate
                    perspiciatis aperiam. Alias rem, saepe id quidem?</p>
            </div>

            <h2 class="comment-title h4">Laissez un commentaire</h2>
            <form action="" method="post" class="comment-form">
                <div class="mb-3">
                    <label for="pseudo">Pseudo<sup>*</sup></label>
                    <input type="text" class="form-control" id="pseudo" aria-describedby="pseudo" name="pseudo"
                        placeholder="pseudo" required>
                </div>
                <div class="mb-3">
                    <label for="contentComment">Commentaire<sup>*</sup></label>
                    <textarea class="form-control" id="contentComment" name="contentComment"
                        placeholder="votre commentaire..." rows="5" required></textarea>
                </div>
                <button type="submit" class="button">Soumettre</button>
            </form>
        </article>
    </div>

    {% include "includes/_aside.html.twig" %}
</div>
{% endblock %}