{% extends "base.html.twig" %}

{% block title %}
    Inscription | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="body-page about-page gap">
        <h2 class="about-title">Inscrivez-vous</h2>
        {{ form|raw }}
    </div>
{% endblock %}